*{
    user-select: none;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: black;
}
main{
    display: grid;
    place-items: center;
    min-height: 100vh;
    width: 87%;
    position: relative;
}
.eye, #eyes{
    position: absolute;
}
